bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
ImageContext/Properties/launchSettings.json
ImageContext/Properties/serviceDependencies.json
ImageContext/Properties/serviceDependencies.local.json
ImageContext/Properties/serviceDependencies.local.json.user
ImageContext/Properties/ServiceDependencies/local/secrets1.arm.json
/.vs/ImageContext/FileContentIndex
/.vs/ImageContext/copilot-chat
/.vs/ImageContext/config
/.vs/ImageContext/CopilotIndices
/.vs/ImageContext/DesignTimeBuild
/.vs/ImageContext/v17
/.vs/ProjectEvaluation
/ImageContext/Properties
ImageContext/Properties/launchSettings.json
ImageContext/Properties/launchSettings.json
ImageContext/Properties/launchSettings.json
