.small-polaroid-size {
    width: 34vw; /* Responsive width */
    height: 42vw; /* Responsive height */
    max-width: 340px; /* Max width for larger screens */
    min-width: 255px; /* Min width for smaller screens */
    max-height: 420px;
    min-height: 315px;
}

.large-polaroid-size {
    width: 61.2vw; /* Responsive width */
    height: 75.6vw; /* Responsive height */
    max-width: 612px; /* Max width for larger screens */
    min-width: 527px; /* Min width for smaller screens */
    max-height: 756px;
    min-height: 651px;
}

.polaroid-card {
    background-color: white; /* Polaroid frame color */
    padding: 10px; /* Space around the image and title */

    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); /* Adds depth for the Polaroid effect */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Spaces out the image and caption */
}

.polaroid-image {
    width: 100%;
    aspect-ratio: 1/1; /* Ensures the image remains square */
    object-fit: cover; /* Crop image to fit within the square */

    border: 5px solid white; /* White border to mimic Polaroid photo */
    border-bottom: none; /* Remove bottom border to leave space for caption */
}

.polaroid-caption {
    padding-top: 5px; /* Space between image and caption */
    text-align: center; /* Center the text */
}

.polaroid-title {
    font-size: 100%;
    margin: 0; /* Remove default margin */
}

@media (max-width: 600px) {
    .polaroid-card {
        width: 40vw; /* Increase size on small screens */
        height: 50vw;
    }

    .polaroid-title {
        font-size: 3vw; /* Make the text larger on small screens */
    }
}

.card-title {
    color: white;
    background-color: #2c3040;
    margin: 0;
}

.card-background {
    background-color: #5d5d5d;
}

.background-greyish {
    background-color: #d9d9d9;
}
